html {
  background-image: url("img/soccerball.jpg");
  background-size: cover;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 25px 150px 50px;
  border: 2px;
  margin: 50px auto;
  width: 600px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.703);
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 5px;
  height: 30px;
  display: flex;
  align-items: center;
}
header * {
  display: inline;
}
header li {
  margin: 20px;
}
a {
  color: black;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline red;
  font-weight: bold;
}
.nav1 {
  float: none;
  position: absolute;
  top: 10px;
  left: 40%;
}
.nav2 {
  float: none;
  position: absolute;
  top: 10px;
  left: 50%;
}
.nav3 {
  float: none;
  position: absolute;
  top: 10px;
  left: 60%;
}
.blue {
  color: blue;
}
.red {
  color: red;
}
.darkYellow {
  color: darkgoldenrod;
}
